body{
    background: #F9F8FC;
}
.posts-date{
    background: #FDF6E3;
    padding: 4px;
    margin: 3px 0;
    display: block;
}
.post-thumb{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    width: 150px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.well{
    width: 50%;
    height: 70%;
}
.pagination-links{
    margin: 30px 0;
}
.pagination-links strong{
    padding: 8px 13px;
    margin: 5px;
    background: #593196;
    color: #ffffff;
    border: 1px #ccc solid;
}
a.pagination-link{
    padding: 8px 13px;
    margin: 5px;
    background: #593196;
    color: #ffffff;
    border: 1px #ccc solid;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #593196;
    color: white;
    text-align: center;
    height: 150px;
}